.block-container .block-inner,
.wp-block[data-type="core/paragraph"],
.wp-block-freeform {
	padding: 2rem 0;
	@media only screen and (min-width: $sm) {
		padding: 3rem 0;
	}
	&.editor-post-title__block {
		padding: 0 !important;
		margin: 0 !important;
	}
}

.wp-block[data-type="core/paragraph"],
.wp-block[data-type="core/heading"],
.wp-block-freeform {
	padding-left: 1rem;
	padding-right: 1rem;
	max-width: $max-row-width !important;
	margin: auto;
}

.wp-block[data-type="core/paragraph"] + .wp-block[data-type="core/paragraph"],
.wp-block[data-type="core/paragraph"] + .wp-block[data-type="acf/content"] .block-container.block-bg-none {
	padding-top: 0;
	margin-top: -1.2rem;
	@media only screen and (min-width: $sm) {
		margin-top: -2.2rem;
	}
}

.global-content .block-bg-overlay {
	&.block-bg-image,
	> .block-bg-image-container {
		background-color: rgba(0, 32, 70, 0.6);
		background-blend-mode: multiply;
	}
	.block-bg-overlay-container {
		display: none;
	}
}

.block-bg-1 + .block-bg-1,
.block-bg-2 + .block-bg-2,
.block-bg-3 + .block-bg-3,
.block-bg-4 + .block-bg-4,
.block-bg-5 + .block-bg-5,
.block-bg-6 + .block-bg-6,
.block-bg-7 + .block-bg-7,
.block-bg-8 + .block-bg-8,
.block-bg-9 + .block-bg-9,
.block-bg-none:not(.block-media) + .block-bg-none:not(.block-media) {
	.block-inner {
		padding-top: 0;
	}
}

.block-container.block-title {
	.block-inner {
		position: relative;
		margin: auto;
		.item-title {
			color: $blue-dark;
			margin-bottom: 0;
			&.has-sub-title {
				margin-bottom: 2.5rem;
			}
		}
		* {
			margin-bottom: 0;
		}
	}
}

.media-right .col-content {
	order: -1;
}

.columns + .columns {
	margin-top: 1.5rem;
	@media only screen and (min-width: $sm) {
		margin-top: 0;
	}
}

.block-media {
	.block-inner {
		padding: 0;
	}
}

.block-accordian {
	.columns {
		display: block;
		width: 100%;
	}
	.item-container {
		position: relative;
		.item-icon {
			transition: transform .2s ease-in-out, top .2s ease-in-out;
			position: absolute;
			top: 18px;
			left: 15px;
			border: 1px solid rgba(150,150,150,0.9);
			border-top: 0;
			border-left: 0;
			transform: rotate(-45deg);
			width: 14px;
			height: 14px;
		}
		.item-title {
			padding: .5rem 1rem .5rem 3rem;
			border: 1px solid rgba(150,150,150,0.2);
			background-color: rgba(150,150,150,0.2);
			display: block;
			width: 100%;
			cursor: pointer;
			margin-top: 1rem;
		}
		.item-content p {
			padding: .5rem .4rem;
			+ p {
				padding-top: 0;
				margin-top: .2rem;
			}
		}
		&.open .item-icon {
			transform: rotate(45deg);
			top: 15px;
			left: 15px;
		}
		&:not(.open) .item-content {
			display: none;
		}
	}
}