.block-container {
	.block-inner {
		padding: 2rem $outer-gutter-sm;
		@media only screen and (min-width: $small) {
			padding: 3rem $outer-gutter;
		}
	}
}

.global-content .block-bg-overlay {
	&.block-bg-image,
	> .block-bg-image-container {
		background-color: rgba(0, 32, 70, 0.6);
		background-blend-mode: multiply;
	}
	.block-bg-overlay-container {
		display: none;
	}
}

.block-bg-white + .block-bg-white,
.block-bg-blue + .block-bg-blue,
.block-bg-blue-light + .block-bg-blue-light,
.block-bg-green + .block-bg-green,
.block-bg-gray + .block-bg-gray,
.block-bg-gray-light + .block-bg-gray-light,
.block-bg-gray-dark + .block-bg-gray-dark,
.block-bg-yellow + .block-bg-yellow,
.block-bg-none + .block-bg-none {
	.block-inner {
		padding-top: 0;
	}
}

.block-container.block-title {
	.block-inner {
		position: relative;
		max-width: 1000px;
		width: 90%;
		margin: auto;
		padding: .8rem 0;
		@media only screen and (min-width: $medium) {
			padding: 1.5rem 0;
		}
		.item-title {
			color: $blue-dark;
			text-align: center;
			margin-bottom: 0;
			&.has-sub-title {
				margin-bottom: 2.5rem;
			}
		}
		* {
			margin-bottom: 0;
		}
	}
	&.bg-blue,
	&.bg-blue-dark,
	&.bg-gray-dark,
	&.bg-image {
		.item-title {
			color: $white;
		}
	}
}

.media-right .col-content {
	order: -1;
}

.columns + .columns {
	margin-top: 1.5rem;
	@media only screen and (min-width: $small) {
		margin-top: 0;
	}
}



.block-accordian {
	.columns {
		display: block;
		width: 100%;
	}
	.item-container {
		position: relative;
		.item-icon {
			transition: transform .2s ease-in-out, top .2s ease-in-out;
			position: absolute;
			top: 18px;
			left: 15px;
			border: 2px solid $gray-med-dark;
			border-top: 0;
			border-left: 0;
			transform: rotate(-45deg);
			width: 14px;
			height: 14px;
		}
		.item-title {
			padding: .5rem 1rem .5rem 3rem;
			border: 1px solid $gray-med;
			background-color: $gray-light;
			display: block;
			width: 100%;
			cursor: pointer;
			margin-top: 1rem;
		}
		.item-content p {
			padding: .5rem .4rem;
			+ p {
				padding-top: 0;
				margin-top: .2rem;
			}
		}
		&.open .item-icon {
			transform: rotate(45deg);
			top: 15px;
			left: 15px;
		}
		&:not(.open) .item-content {
			display: none;
		}
	}
}