select {
	appearance: none;
	-webkit-appearance: none;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: $dark;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="file"],
input[type="url"],
input[type="number"],
.custom-file-label,
textarea,
.nested-label.ginput_container_textarea,
.nested-label .custom-file-label::after,
select {
	form.bootstrap & {
		background-color: rgba(250, 250, 250, .6);
		.text-light & {
			background-color: rgba(255, 255, 255, .05);
		}
	}
	border-color: rgba(0, 0, 0, .2) !important;
	.text-light & {
		border-color: rgba(255, 255, 255, .3) !important;
		color: darken($text-light, 10%) !important;
	}
}
.nested-label.ginput_container_textarea {
	border: 1px solid;
	padding-top: 2rem;
	border-radius: 3px;
	textarea {
		border: 0;
		background-color: transparent !important;
	}
}

.form-check-input[type=radio] + label:before, 
.form-check-input[type=radio] + label:after, 
label.btn input[type=radio] + label:before, 
label.btn input[type=radio] + label:after {
	left: -3px;
}

form.md-form {
	label {
		.text-light & {
			color: inherit;
			opacity: 0.7;
		}
	}
	label.active {
		left: 0;
	}
	.ginput_container_textarea {
		margin-top: 2rem;
		.gfield_label {
			transform: translate(0,-18px) scale(1) !important;
			&.active {
				transform: translate(0,-22px) scale(0.8) !important;
			}
		}
		.md-textarea {
			padding: 4px 8px;
			width: calc(100% - 16px);
			border: 1px solid;
			border-radius: 3px;
		}
	}
}