input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="number"],
input[type="file"],
select,
textarea {
	font-size: 1rem !important;
	font-weight: 400 !important;
	height: 52px !important;
	max-height: 52px !important;
	letter-spacing: 1px;
	padding: 1.6rem 1rem !important;
	border-radius: 0 !important;
	border: 1px solid $gray-med !important;
	background-color: transparent !important;
	&:focus {
		border: 1px solid $blue-light !important;
	}
	&::placeholder {
		color: $gray-dark;
		font-weight: 300;
		text-transform: uppercase;
	}
}
select {
	appearance: none;
	-webkit-appearance: none;
	padding: .6rem 1rem !important;
	background: none !important;
}
input[type="text"],
input[type="email"] {
	border-radius: 0;
	&:focus {
		box-shadow: none !important;
		outline: none;
	}
}
textarea {
	border-radius: 0;
	height: inherit;
	min-height: 100px;
	&:focus {
		box-shadow: none !important;
		outline: none;
	}
}

input[type="file"] {
    width: 100% !important;
    padding: .8rem !important;
    position: relative;
    padding-left: 100px !important;
    color: white;
	position: relative;
	border: 1px solid $green !important;
	@media only screen and (min-width: 641px) {
		width: calc(100% - 8px) !important;
	}
	&:active,
	&:focus {
		border-color: darken($green, 30%) !important;
	}
    cursor: pointer;
    &::-webkit-file-upload-button {
        visibility: hidden;
    }
    &::before {
        content: 'Select Logo';
        text-transform: uppercase;
		position: absolute;
        top: -1px;
        left: 0;
        width: 100%;
        display: block;
        color: $white;
        background: $green;
        padding: .95rem 2rem;
        outline: none;
        white-space: nowrap;
        -webkit-user-select: none;
        cursor: pointer;
        font-weight: 400;
        font-size: rem(18);
        z-index: -1;
	}
	&.has-file {
		&::before {
			content: 'Change Logo';
		}
	}
}

.gfield {
	@media only screen and (max-width: 640px) {
		display: block;
		width: 100% !important;
	}
	@media only screen and (min-width: 641px) {
		&.file {
			position: relative;
			.gfield_description {
				position: absolute;
				bottom: -14px;
			}
		}
	}
	.gfield_checkbox label,
	> label.gfield_label {
		margin-top: .8rem;
		font-weight: 600 !important;
	}
	ul.gfield_radio {
		li {
			display: inline;
			margin-right: 1rem;
			.input-wrapper-radio {
				display: inline;
			}
		}
	}
}


@media only screen and (min-width: 641px) {
	.gform_wrapper ul.gform_fields li.gfield {
		padding-right: 16px !important;
	}
}

.gform_title {
	text-align: center;
	font-size: 1.9rem !important;
	text-transform: uppercase;
}

.gform_footer {
	text-align: center;
}

.input-wrapper {
	vertical-align: top;
	input {
		margin: 0 !important;
	}
	&.input-wrapper-radio,
	&.input-wrapper-checkbox {
		border: 1px solid $yellow;
		display: inline-block !important;
		width: 20px !important;
		height: 20px !important;
		position: relative;
		top: 0px;
		box-shadow: inset 0 0 0 2px $white;
		.gfield & {
			margin: 3px;
		}
		&.checked {
			background-color: $yellow;
		}
		input {
			display: block !important;
			opacity: 0;
		}
	}
	&.input-wrapper-checkbox {
		margin-right: 6px;
	}
	&.input-wrapper-radio {
		border-radius: 50%;
	}
}

.input-wrapper-select,
.select-wrapper.mdb-select {
	position: relative;
	width: 100%;
	min-width: 200px;
	display: block;
	select {
		display: block;
		width: 100% !important;
	}
	select,
	input {
		padding-right: 50px !important;
	}
	&::before {
		position: absolute;
		border-style: solid;
		border-width: 0 0 1px 1px ;
		content: '';
		display: block;
		height: 20px;
		right: 18px;
		left: auto;
		top: 10px;
		transform: rotate(-45deg);
		width: 20px;
	}
	.caret {
		display: none !important;
	}
	.select-toggle-all {
		display: none;
	}
}


.form-check-input[type=checkbox] + label:before, 
label.btn input[type=checkbox] + label:before, 
.gform_wrapper label.button input[type=checkbox] + label:before {
    top: -2px;
    left: 0;
    height: 1.375rem;
    border: 1px solid $yellow;
	// display: inline-block !important;
	width: 20px !important;
	height: 20px !important;
    transform: rotate(0);
    transform-origin: 100% 100%;
	backface-visibility: hidden;
	background-color: transparent;
	box-shadow: inset 0 0 0 2px transparent;
}
.form-check-input[type=checkbox]:checked + label:before, 
label.btn input[type=checkbox]:checked + label:before, 
.gform_wrapper label.button input[type=checkbox]:checked + label:before {
    top: -2px;
    left: 0;
    height: 1.375rem;
    border: 1px solid $yellow;
	// display: inline-block !important;
	width: 20px !important;
	height: 20px !important;
    transform: rotate(0);
    transform-origin: 100% 100%;
	backface-visibility: hidden;
	background-color: $yellow;
	box-shadow: inset 0 0 0 2px $white;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: $dark;
}

.form-group label {
	font-weight: 600;;
}

input[type="password"]:invalid {
	border-color: red !important;
}

.gform_wrapper .field_description_below .gfield_description {
	padding-top: 4px !important;
	color: lighten($gray-dark, 10%);
}

.ginput_container_password label {
	display: none !important;
}

.gform_wrapper .gsection {
	border: 0px !important;
	margin-bottom: 0 !important;
}

.gform_wrapper .gfield_checkbox li label, 
.gform_wrapper .gfield_radio li label {
	max-width: 93% !important;
}

.mdb-select .dropdown-content.select-dropdown li {
	margin-bottom: 0 !important;
	&.disabled .filtrable label {
		display: none;
	}
}

.ginput_container_multiselect .input-wrapper-select {
	select[multiple="multiple"] {
		overflow: hidden;
	}
}

.gform_wrapper ul.gfield_checkbox li .input-wrapper-checkbox input[type=checkbox],
.gform_wrapper ul.gfield_radio li .input-wrapper-radio input[type=radio] {
	pointer-events: all !important;
	width: 20px !important;
	height: 20px !important;
}

.lowercase-placeholder::placeholder {
	text-transform: lowercase !important;
}
.lowercase-placeholder::-moz-placeholder {
	text-transform: lowercase !important;
}