html, body {
	overflow-x: hidden;
	#tinymce {
		overflow-x: visible;
	}
}

body {
	@media only screen and (min-width: $medium) {
		margin-top: 100px;
	}
}

img {
	max-width: 100%;
	display: block;
}

.row {
    width: 100%;
    max-width: $max-row-width;
    margin-left: auto;
    margin-right: auto;
}

.bg {
	&-gray-dark {
		background-color: $gray-dark;
	}
	&-gray-light {
		background-color: $gray-light !important;
	}
	&-gray {
		background-color: $gray-med !important;
	}
}
.text-light,
.block-bg-image {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.h1,
	.h2,
	.h3,
	.h4,
	.h5,
	.h6,
	p,
	a:not(.btn),
	.block-title,
	.block-sub-title {
		color: $white;
	}
}

hr {
	max-width: 90%;
	border-top-width: 2px;
	border-color: rgba($gray-med, .4);
	.bg-blue-dark,
	.bg-blue &,
	.bg-blue-light &,
	.bg-green &,
	.bg-yellow &,
	.bg-grey-dark &,
	.bg-gray-dark & {
		border-color: rgba(255, 255, 255, .4);
	}
}

.text {
	&-blue-dark {
		color: $blue-dark;
	}
	&-border-blue {
		border: 2px solid $blue-light;
	}
}

p {
	margin-bottom: 0;
	+ p {
		margin-top: 1rem;
	}
}

*:active,
*:focus {
	outline: none;
}

.pagination {
	margin-top: 2rem;
	justify-content: center;
	ol {
		display: inline-block;
		margin: 0;
		padding: 0;
		text-align: center;
		li {
			display: inline-block;
			list-style: none;
			margin: 0;
			&.current {
				color: $blue-light;
				font-weight: bold;
				padding: .2rem .3rem;
			}
			&.prev-link {
				a {
					padding-right: .5rem;
				}
			}
			&.next-link {
				a {
					padding-left: .5rem;
				}
			}
			a {
				padding: .2rem .3rem;
				&:hover,
				&:focus {
					color: $blue-light;
				}
			}
		}
		li,
		a {
			color: $blue-dark;
			display: inline-block;
			font-size: 1.25rem;
			line-height: 1;
		}
	}
}

.single-banner-container {
	padding: 20%;
}

.page-navigation {
	margin: auto;
	.page_navi {
		margin-left: 0;
		padding-left: 0;
		margin-top: 2rem;
		list-style: none;
		li {
			display: inline-block;
			&.current,
			a {
				padding: .5rem;
				font-weight: 600;
				font-size: 1.5rem;
			}
			&.current,
			&.next-link a,
			&.prev-link a,
			&:hover a {
				color: $blue-light;
			}
		}
	}
}

@media only screen and (max-width: $medium) {
	[class*="col-"]:not(:first-child),
	.col:not(:first-child) {
		margin-top: 1.2rem;
	}
}