html, body {
	overflow-x: hidden;
	#tinymce {
		overflow-x: visible;
	}
}

img {
	max-width: 100%;
	display: block;
	margin: auto;
}

.fit-image {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	height: auto;
	width: auto;
	object-fit: cover;
	top: 50%;
	transform: translateY(-50%);
}

.row {
    width: 100%;
    max-width: $max-row-width;
    margin-left: auto;
	margin-right: auto;
	
	@media only screen and (max-width: $md) {
		> [class*="col-"]:not(:first-child),
		> .col:not(:first-child) {
			margin-top: 1.2rem;
		}
	}
}

.cursor-pointer {
	cursor: pointer;
}

.btn {
	position: relative;
	margin: 0;
	min-width: 180px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 1px 4px 0 rgba(0, 0, 0, 0.12);
	&::before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(255,255,255,0);
		transition: background-color .2s ease-in-out;
	}
	&:hover {
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 6px 0 rgba(0, 0, 0, 0.12);
		&::before {
			background-color: rgba(255,255,255,0.1);
		}
	}
	&-light {
		&::before {
			background-color: rgba(0,0,0,0);
		}
		&:hover::before {
			background-color: rgba(0,0,0,0.08);	
		}
	}
	@media only screen and (max-width: $sm) {
		.text-center & {
			margin-left: 1rem;
			margin-right: 1rem;
			display: block;
		}
	}
	+ .btn {
		margin-left: 1rem;
		@media only screen and (max-width: $sm) {
			margin-top: 1rem;
		}
	}
}

.min-vh-25 {
    min-height: 25vh !important;
}
.min-vh-50 {
    min-height: 50vh !important;
}
.min-vh-75 {
    min-height: 75vh !important;
}

.cover,
.cover-center {
	background-repeat: no-repeat;
}
.cover {
	background-size: cover;
}
.contain {
	background-size: contain;
}
.cover-center {
	background-size: cover;
	background-position: center;
}

.zoom-cover {
	.cover,
	.cover-center {
		transform: scale(1.01);
		transition: transform .2s ease-in-out;
	}
	&:hover {
		.cover,
		.cover-center {
			transform: scale(1.1);
		}
	}
}

@for $i from 1 through 20 {
	.pad-#{ $i * 5 } {
		padding: $i * 5%;
	}
}

.text-light,
.block-bg-image {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.h1,
	.h2,
	.h3,
	.h4,
	.h5,
	.h6,
	p,
	a:not(.btn),
	.block-title,
	.block-sub-title {
		color: $white;
	}
}

hr {
	max-width: 90%;
	border-top-width: 2px;
	border-color: rgba($gray-med, .4);
	.bg-dark & {
		border-color: rgba(255, 255, 255, .4);
	}
}

*:active,
*:focus {
	outline: none;
}

.pagination {
	margin-top: 2rem;
	justify-content: center;
	ol {
		display: inline-block;
		margin: 0;
		padding: 0;
		text-align: center;
		li {
			display: inline-block;
			list-style: none;
			margin: 0;
			&.current {
				color: $blue-light;
				font-weight: bold;
				padding: .2rem .3rem;
			}
			&.prev-link {
				a {
					padding-right: .5rem;
				}
			}
			&.next-link {
				a {
					padding-left: .5rem;
				}
			}
			a {
				padding: .2rem .3rem;
				&:hover,
				&:focus {
					color: $blue-light;
				}
			}
		}
		li,
		a {
			color: $blue-dark;
			display: inline-block;
			font-size: 1.25rem;
			line-height: 1;
		}
	}
}

.single-banner-container {
	padding: 20%;
}

.page-navigation {
	margin: auto;
	.page_navi {
		margin-left: 0;
		padding-left: 0;
		margin-top: 2rem;
		list-style: none;
		li {
			display: inline-block;
			&.current,
			a {
				padding: .5rem;
				font-weight: 600;
				font-size: 1.5rem;
			}
			&.current,
			&.next-link a,
			&.prev-link a,
			&:hover a {
				color: $blue-light;
			}
		}
	}
}

