nav {
	&.navbar {
		box-shadow: none;
		padding: 8px calc(#{$outer-gutter-sm} + 12px);
		transition: all .2s ease-in-out;
		@media only screen and (min-width: $mobile-menu) {
			padding: 8px calc(#{$outer-gutter} + 3px) 8px calc(#{$outer-gutter} + 15px);
		}
		body.navsticky & {
			background-color: $blue-dark;
		}
		.row {
			@media only screen and (min-width: $mobile-menu) {
				align-items: center;
				flex-wrap: nowrap;
				justify-content: space-between;
			}
		}
	}
	a:hover {
		text-decoration: none;
	}
	.main-logo {
		display: inline-block;
		padding: .5rem 5rem .5rem 0;
		transition: all .3s ease-in-out;
		width: 86%;
		@media only screen and (min-width: $mobile-menu) {
			width: 46%;
		}
		body.navsticky & {
			@media only screen and (max-width: $mobile-menu - 1px)  {
				padding: .2rem 5rem .2rem 0;
			}
		}
		@media only screen and (min-width: $mobile-menu)  {
			padding: 0 0 1rem 0;
			body.navsticky & { 
				transform: translateY(6px);
			}
		}
		img {
			max-width: 460px;
			min-width: 220px;
			width: 100%;
			@media only screen and (min-width: $mobile-menu)  {
				min-width: 460px;
			}
		}
	}
	a.header-menu-logo {
		display: none;
		@media only screen and (min-width: $mobile-menu)  {
			display: inline-block;
			margin: 0 0 0 0;
			padding: .0;
			transition: all .3s ease-in-out;
			width: 220px;
		}
		.navsticky & {
			@media only screen and (min-width: $mobile-menu)  {
				width: 190px;
			}
		}
	}
}

.global-header-main-menu {
	// Mobile
	background-color: $white;
	left: auto;
	max-height: 100vh;
	max-width: 400px;
	opacity: 0;
	padding: 70px 0 0;
	pointer-events: none;
	position: absolute;
	right: 0;
	top: 0 !important;
	transform-origin: top !important;
	transform: translateY(-20px) scaleY(0.8);
	transition: all 0.2s ease-in-out;
	width: 100%;
	@media only screen and (min-width: $mobile-menu) {
		background-color: transparent;
		box-shadow: none;
		display: inline-block;
		max-height: none;
		max-width: none;
		opacity: 1;
		padding: 1.5rem 0 0 0;
		pointer-events: all;
		position: relative;
		text-align: right;
		top: inherit !important;
		transform: translateY(0) scaleY(1);
		width: inherit;
		body.navsticky & {
			padding-top: 0;
		}
		> ul {
			white-space: nowrap;
			li {
				white-space: normal;
			}
		}
	}
	// body.admin-bar & {
	// 	max-height: calc(100vh - 126px);
	// 	@media only screen and (min-width: 783px) {
	// 		max-height: calc(100vh - 112px);
	// 	}
	// }
	.mobile-menu-open & {
		transform: translateY(0) scaleY(1);
		opacity: 1;
		pointer-events: all;
	}
	.global-header > .row & {
		height: 5000px;
	}
	.nav-dropdown {
		right: 20px !important;
	}
	a {
		display: block;
		transition: color 0.2s ease-in-out;
		font-weight: normal;
		padding: 14px 12px 14px 12px;
	}
	li {
		text-align: left;
		overflow: hidden;
		> .sub-menu {
			background-color: white;
			max-height: 0;
			opacity: 0;
			padding: 20px 20px 20px 0;
			pointer-events: none;
			text-align: left;
			transform-origin: center top;
			transform: translateY(-20px) scaleY(0.8);
			transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
			width: 220px;
			@media only screen and (min-width: $mobile-menu) {
				width: 200px;
			}
			li {
				display: inline-block;
			}
			&.two-columns {
				@media only screen and (min-width: $mobile-menu) {
					columns: 2;
					width: 465px;
					padding-right: 1.5rem;
					li a {
						padding-right: 0;
					}
				}
			}
		}
	}
	> ul {
		@media only screen and (min-width: $mobile-menu) {
			margin: 0;
			padding: 0;
		}
		> li {
			margin: 0;
			line-height: 1;
			.current-menu-item {
				> a {
					&::before {
						@media only screen and (min-width: $mobile-menu) {
							color: $blue-light;	
						}
					}
				}
			}
			@media only screen and (min-width: $mobile-menu) {
				overflow: visible;
				display: inline-block;
				position: relative;
			}
			&:hover,
			&:focus {
				> a {
					@media only screen and (min-width: $mobile-menu) {
						background-color: $white;
						color: $blue-dark;
					}
				}
				> .sub-menu {
					@media only screen and (min-width: $mobile-menu) {
						transform: translateY(0) scaleY(1);
						opacity: 1;
						pointer-events: all;
					}
				}
			}
			&:last-child {
				border: 0;
			}
			> a {
				color: $blue-dark;
				font-weight: 700;
				position: relative;
				letter-spacing: 0;
				text-transform: uppercase;
				padding: 20px 55px 20px 7px;
				@media only screen and (min-width: $mobile-menu) {
					background-color: transparent;
					color: $white;
					padding: 10px 2px;
					transition: all .2s ease-in-out;
				}	
				@media only screen and (min-width: $xlarge) {
					padding: 10px 12px;
				}		
			}
			&:last-child,
			&:nth-last-child(2),
			&:nth-last-child(3) {
				.sub-menu {
					@media only screen and (min-width: $mobile-menu) {
						right: 0;
					}
					@media only screen and (min-width: 600px) {
						right: auto;
					}
				}
			}
			&.current-menu-item:not(.cta) > a,
			&.current-menu-parent:not(.cta) > a {
				color: $blue-light;
			}
			> .sub-menu {
				background: $white;
				padding: 0;
				right: 0;
				transform: translateY(0);
				z-index: 3;
				@media only screen and (min-width: $mobile-menu) {
					box-shadow: 0 4px 4px 0 rgba($black, 0.1);
					max-height: none;
					padding: .5rem 0;
					position: absolute;
					text-align: right;
					top: 36px;
				}
				a {
					color: $blue-dark;
					font-size: 1rem;
					font-weight: bold;
					padding: .6rem 1rem .6rem 7px;
					transition: color 0.2s ease-in-out;
					@media only screen and (min-width: $mobile-menu) {
						padding: .6rem 1rem;
					}
				}
				li {
					text-align: left;
					margin: 0;
					padding: 0;
					min-width: 200px;
					@media only screen and (min-width: $mobile-menu) {
						text-align: right;
					}
					&:first-child {
						border-top: 0;
					}
					&.current-menu-item:not(.cta),
					&:hover {
						> a {
							font-weight: bold;
							color: $blue-light;
						}
					}
				}
			}
		}
	}
}

body.events .global-header-main-menu .menu-item.events a {
	color: $blue-light;
}

.menu-item-has-children {
	position: relative;
	li {
		position: relative;
		&.max-width {
			a {
				max-width: 160px;
			}
		}
		a {
			display: inline-block;
		}
	}
	&.open {
		> .sub-menu {
			max-height: 100vh;
			opacity: 1;
			pointer-events: all;
			visibility: visible;
			@media only screen and (min-width: $mobile-menu) {
				margin: 0.5rem 1rem;
			}
		}
		> .nav-dropdown::after {
			transform: rotate(45deg);
		}
	}
	.nav-dropdown {
		cursor: pointer;
		height: 10px;
		padding: 18px;
		position: absolute;
		right: 0;
		top: 10px;
		width: 10px;
		z-index: 1;
		@media only screen and (min-width: $mobile-menu) {
			display: none;
		}
		&::after {
			border: solid $black;
			border-width: 0 3px 3px 0;
			content: '';
			display: block;
			height: 10px;
			opacity: 0.7;
			position: absolute;
			right: 13px;
			top: 13px;
			transform: rotate(-45deg);
			transition: all 0.2s ease-in-out;
			width: 10px;
		}
		&:hover {
			&::after {
				opacity: 1;
			}
		}
	}
}

/*
*   Mobile Menu Button
*/
.button-mobile-menu {
	background-color: transparent;
	border: 1px solid $white;
	height: 40px;
	margin: 0;
	outline: 0;
	padding: 0;
	position: relative;
	transition: all .3s ease-in-out;
	width: 40px;
	z-index: 100;
	
	@media only screen and (min-width: $mobile-menu) {
		display: none;
	}
	span {
		bottom: 0;
		left: 6px;
		margin: auto;
		position: absolute;
		right: 6px;
		top: 0;
		&::before {
			top: -10px;
		}
		&::after {
			bottom: -10px;
		}
		&::before,
		&::after {
			content: '';
			width: 100%;
		}
	}
	span,
	span::before,
	span::after {
		background-color: $white;
		display: block;
		height: 2px;
		position: absolute;
		transition: all 0.2s ease-in-out;
	}
	.mobile-menu-open & {
		border: 1px solid transparent;
		span {
			background-color: transparent;
			&::before,
			&::after {
				background-color: $blue-light;
				top: 0;
			}
			&::before {
				transform: rotate(45deg);
			}
			&::after {
				transform: rotate(-45deg);
			}
		}
	}
	&:focus {
		outline: 0;
	}
}

ul.menu {
	list-style: none;
	display: inline;
	margin: 0;
	padding: 0;
	li {
		margin: 0 .5rem;
		@media only screen and (min-width: $medium) {
			display: inline-block;
		}
		a {
			&:hover {
				text-decoration: underline;
			}
			.global-header-main-menu & {
				text-transform: uppercase;
				font-weight: 600;
				font-family: $font-secondary;
				letter-spacing: 2px;
				color: $gray-dark;
				text-align: right;
				display: block;
				padding: 1rem 0;
				@media only screen and (min-width: $medium) {
					color: $white;
					text-align: left;
					display: inline;
				}
				&.active {
					color: $yellow;
				}
			}
		}
		.global-header-main-menu & {
			font-size: 2.4rem;
			@media only screen and (min-width: $medium) {
				font-size: 1.8rem;
			}
			a:hover,
			a:active,
			a:focus,
			&.current-menu-item a {
				text-decoration: none;
				color: $yellow;
			}
		}
	}
	.global-header-account-menu & {
		a {
			font-size: 1.6rem;
			color: $gray-dark;
			text-align: right;
			display: block;
			padding: .6rem 0;
			&.active,
			&:hover {
				color: $yellow;
			}
		}
		@media only screen and (min-width: $medium) {
			position: fixed;
			top: 1.5rem;
			right: 2rem;
			body.admin-bar & {
				top: 3.3rem;
			}
			a {
				font-size: 1.2rem;
				color: darken($white, 15%);
				text-align: left;
				display: inline;
				// padding: 0;
				&.active,
				&:hover {
					color: $yellow;
				}
			}
		}
	}
}


/*
*   Mobile Menu Button
*/
.button-mobile-menu {
	position: fixed;
	top: 1.2rem;
	right: .5rem;
	background-color: transparent;
	border: 0 !important;
	height: 40px;
	margin: 0;
	outline: 0;
	padding: 0;
	transition: all .3s ease-in-out;
	width: 45px;
	z-index: 100;
	@media only screen and (min-width: $medium) {
		display: none;
	}
	@media only screen and (min-width: 400px) {
		width: 55px;
	}
	span {
		bottom: 0;
		left: 6px;
		margin: auto;
		position: absolute;
		right: 6px;
		top: 0;
		&::before {
			top: -9px;
			@media only screen and (min-width: 400px) {
				top: -12px;
			}
		}
		&::after {
			bottom: -9px;
			@media only screen and (min-width: 400px) {
				bottom: -12px;
			}
		}
		&::before,
		&::after {
			content: '';
			width: 100%;
		}
	}
	span,
	span::before,
	span::after {
		background-color: $gray-dark;
		display: block;
		height: 3px;
		position: absolute;
		transition: all 0.2s ease-out;
	}
	.mobile-menu-open & {
		span {
			background-color: transparent;
			&::before,
			&::after {
				top: 0;
			}
			&::before {
				transform: rotate(45deg);
			}
			&::after {
				transform: rotate(-45deg);
			}
		}
	}
	&:focus {
		outline: 0;
	}
	.admin-bar & {
		top: 3.5rem;
	}
}
