nav ul {
	list-style: none;
	width: 100%;
	text-align: center;
	ul {
		margin-top: .4rem;
		list-style: none;
		position: absolute;
		left: -999em; // "Hide" the sub-menus
		background-color: $dark;
		width: 300px;
		padding: 1rem;
	}

	li {
		display: inline-block;
		position: relative;
		text-align: left; // Reset text alignment
		a {
			padding: 1rem;
			text-transform: uppercase;
		}
		&:hover {
			> ul {
				left: auto;
			}
		}
		&.current-menu-item {
			a {
				color: $info;
			}
		}
		li {
			display: block;
			&:hover {
				> ul {
					left: 100%;
					top: 0;
				}
			}
			+ li {
				margin-top: .8rem;
			}
		}
	}
}
