.global-header {
	height: 75px;
}
body {
	@media only screen and (min-width: $md) {
		margin-top: 75px;
	}
}
.post-entry {
	&.press {
		position: relative;
		// @media only screen and (min-width: $sm) {
			padding-left: 2rem;
		// }
		.icon {
			display: none;
			// @media only screen and (min-width: $sm) {
				display: inline-block;
				font-size: 30px;
				left: 0;
				position: absolute;
				top: 5px;
			// }
		}
		.post-title {
			font-size: 1.25rem;
			margin-bottom: .1rem;
			text-align: left;
			@media only screen and (min-width: $sm) {
				font-size: 1.625rem;
				text-align: left;
			}
		}
		.post-meta {
			display: block;
			font-size: 0.875rem;
			margin-bottom: .5rem;
			text-align: left;
			@media only screen and (min-width: $sm) {
				font-size: 1rem;
				text-align: left;
			}
		}
		+ .press {
			margin-top: 2rem;
		}
	}
}

.container-404 .section-inner {
	padding: 10rem 1rem 4rem;
	@media only screen and (min-width: $md) {
		padding: 12rem 1rem 6rem;
	}
}

.global-header {
	height: 75px;
	transition: all .2s ease-in-out;
	position: fixed;
	top: 0;
	background-color: $gray-dark;
	width: 100%;
	z-index: 2;
	padding: 1.1rem 1rem !important;
	@media only screen and (min-width: 1000px) {
		text-align: center;
	}
	body.admin-bar & {
		top: 46px;
		@include media-min(783px) {
			top: 32px;
		}
	}
	* {
		color: $white;
		margin: 0;
	}
	img {
		top: 50%;
    	position: relative;
    	transform: translateY(-50%);
	}
}

.global-heading {
	background-color: $gray-dark;
	text-align: center;
	padding: 1rem 0;
	h1 {
		-webkit-text-fill-color: transparent;
		background-clip: text;
		-webkit-background-clip: text;
	}
}

.global-footer {
	background-color: $gray-dark;
	min-height: 100px;
	.social-link {
		font-size: 1.2rem;
		vertical-align: -3px;
	}
}

.footer-social-links {
	position: relative;
	font-size: 1.3rem;
}

.footer-coopyright {
	text-align: center;
	font-size: .8rem;
	color: $white;
	width: 100%;
	padding-top: 1rem;
	a {
		color: $white;
		@media only screen and (max-width: $sm) {
			margin-top: .5rem;
		}
	}
}


.footer-logo-col {
	img {
		max-height: 180px;
	}
}

.nav-tabs {
	.nav-link {
		opacity: 0.4;
		font-size: 1rem;
		font-weight: 600;
		color: $gray-dark;
		@media only screen and (min-width: $md) {
			font-size: 1.6rem;
		}
		&.active {
			opacity: 1;
			font-weight: 600;
		}
	}
}

.global-content {
	@media only screen and (min-width: 783px) {
		min-height: calc(100vh - 132px);
	}
}
