.post-entry {
	&.press {
		position: relative;
		// @media only screen and (min-width: $small) {
			padding-left: 2rem;
		// }
		.icon {
			display: none;
			// @media only screen and (min-width: $small) {
				display: inline-block;
				font-size: 30px;
				left: 0;
				position: absolute;
				top: 5px;
			// }
		}
		.post-title {
			font-size: 1.25rem;
			margin-bottom: .1rem;
			text-align: left;
			@media only screen and (min-width: $small) {
				font-size: 1.625rem;
				text-align: left;
			}
		}
		.post-meta {
			display: block;
			font-size: 0.875rem;
			margin-bottom: .5rem;
			text-align: left;
			@media only screen and (min-width: $small) {
				font-size: 1rem;
				text-align: left;
			}
		}
		+ .press {
			margin-top: 2rem;
		}
	}
}


.container-404 .section-inner {
	padding: 10rem 1rem 4rem;
	@media only screen and (min-width: $medium) {
		padding: 12rem 1rem 6rem;
	}
}


.global-banner {
	background-color: $blue-light;
	> .row {
		.col {
			padding: 1.4rem 0;
			position: relative;
			text-align: center;
			display: flex;
			justify-content: center;
			&:first-child:before {
				content: '';
				position: absolute;
				top: 0;
				left: -500%;
				width: 700%;
				height: 150%;
				transform: skewX(93deg);
				@media only screen and (min-width: $medium) {
					transform: skewX(-28deg);
					left: -200%;
					width: 300%;
					height: 100%;
				}
			}
			> * {
				position: relative;
			}
			.logo-container {
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}
	img {
		max-height: 140px;
		max-width: 60%;
		width: 90%;
		@media only screen and (min-width: $medium) {
			max-width: 100%;
			max-height: 180px;
		}
	}
	.col-gm {
		img {
			@media only screen and (max-width: $medium) {
				max-width: 70%;
			}
			@media only screen and (max-width: 500px) {
				margin-left: -2rem;
				max-width: 76%;
			}
		}
	}
	.col-nao {
		img {
			max-height: 134px;
		}
	}
}
.global-header {
	transition: all .2s ease-in-out;
	position: fixed;
	opacity: 0;
	top: 0;
	right: -300px;
	background-color: $white;
	width: 100%;
	max-width: 300px;
	z-index: 2;
	padding: 5rem 1.6rem 3rem;
	.mobile-menu-open & {
		top: 0;
		right: 0;
		opacity: 1;
	}
	@media only screen and (min-width: $medium) {
		top: 0;
		right: 0;
		opacity: 1;
		max-width: none;
		position: fixed;
		background-color: $gray-dark;
		color: $white;
		padding: 1.1rem 1rem !important;
	}
	@media only screen and (min-width: 1000px) {
		text-align: center;
	}
	body.admin-bar & {
		top: 46px;
		@include media-min(783px) {
			top: 32px;
		}
	}
	* {
		color: $white;
		margin: 0;
	}
}

.global-heading {
	background-color: $gray-dark;
	text-align: center;
	padding: 1rem 0;
	h1 {
		-webkit-text-fill-color: transparent;
		background-clip: text;
		-webkit-background-clip: text;
	}
}

.global-footer {
	background-color: $gray-dark;
	min-height: 100px;
	.social-link {
		font-size: 1.2rem;
		vertical-align: -3px;
	}
}

.footer-social-links {
	position: relative;
	font-size: 1.3rem;
}

.footer-coopyright {
	text-align: center;
	font-size: .8rem;
	color: $white;
	width: 100%;
	padding-top: 1rem;
	a {
		color: $white;
		@media only screen and (max-width: $small) {
			margin-top: .5rem;
		}
	}
}


.footer-logo-col {
	img {
		max-height: 180px;
	}
}

.nav-tabs {
	.nav-link {
		opacity: 0.4;
		font-size: 1rem;
		font-weight: 600;
		color: $gray-dark;
		@media only screen and (min-width: $medium) {
			font-size: 1.6rem;
		}
		&.active {
			opacity: 1;
			font-weight: 600;
		}
	}
}

.global-content {
	@media only screen and (min-width: 783px) {
		min-height: calc(100vh - 132px);
	}
}
