body, p, .wp-block[data-type="core/paragraph"] > p {
	font-family: $font-primary !important;
	font-size: 16px;
	font-weight: 300;
	color: $dark;
	line-height: 1.2;
	letter-spacing: 1px;
}

.editor-styles-wrapper {
    font-family: $font-primary !important;
}
h1, .h1, 
h2, .h2, 
h3, .h3, 
h4, .h4, 
h5, .h5, 
h6, .h6, 
h7, .h7 {
	margin: 0;
} 

h1,
.h1 {
	font-family: $font-primary;
	color: $dark;
	font-size: rem(34);
	font-weight: 900;
	text-transform: uppercase;
	@media only screen and (min-width: $sm) {
		font-size: rem(58);
	}
}

h2,
.h2 {
	font-family: $font-secondary;
	color: $dark;
	font-size: rem(28);
	font-weight: 300;
	@media only screen and (min-width: $sm) {
		font-size: rem(35);
	}
}

h3,
.h3 {
	font-family: $font-secondary;
	color: $dark;
	font-size: rem(26);
	font-weight: 300;
	@media only screen and (min-width: $sm) {
		font-size: rem(30);
	}
}

h4,
.h4 {
	font-family: $font-secondary;
	color: $dark;
	font-size: rem(20);
	font-weight: 300;
	line-height: 1.5;
	@media only screen and (min-width: $sm) {
		font-size: rem(22);
	}
}

h5,
.h5 {
	font-family: $font-secondary;
	color: $dark;
	font-size: rem(15);
	font-weight: 300;
	line-height: 1.5;
	@media only screen and (min-width: $sm) {
		font-size: rem(16);
	}
}

h6,
.h6 {
	font-family: $font-secondary;
	color: $dark;
	font-size: rem(12);
	font-weight: 300;
	@media only screen and (min-width: $sm) {
		font-size: rem(14);
	}
}

p.large,
.large p {
	font-weight: 400;
	@media only screen and (min-width: $sm) {
		font-size: rem(20);
	}
}

a {
	outline: none;
	transition: color 0.3s ease-in-out;
	color: $blue-light;
	.site-2 & {
		color: $red;
	}
	&[href^='tel'] {
		color: inherit;
	}
	&:hover,
	&:focus {
		color: $dark;
		.site-2 & {
			color: darken($red, 5%);
		}
	}
	h1 &,
	h2 &,
	h3 &,
	h4 & {
		color: inherit;
		.site-2 & {
			color: inherit;
		}
	}
}

.faded {
	opacity: .5;
}

.small {
	font-size: rem(13);
	font-weight: 100;
}

.medium {
	font-size: rem(13);
	font-weight: 500;
}

.large {
	font-size: rem(20);
	font-weight: 400;
}