$blue-dark:      #1C8198;
$blue:           $blue-dark;
$blue-light:     #3CA6B4;
$gray-dark:      #60605D;
$gray-med-dark:  #6D6E71;
$gray-med:       #E4E4E3;
$gray-light:     #F2F1F1;
$red:            #e31c43;
$black:          #000000;
$tan:            #f0f3f5;
$green:          #049E55;
$green-light:    #CEE0B9;
$yellow:         #F0AC2B;
$yellow-light:   #F7E6C8;
$white:          #ffffff;
$info:           #33b5e5;

$error: $red;

$dark:          #333333;

$small: 576px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;

$sm: $small;
$md: $medium;
$lg: $large;
$xl: $xlarge;

$outer-gutter-sm: 1rem;
$outer-gutter: 2rem;

$mobile-menu: 1000px;

$sidebar-width: 300px;
$sidebar-width-md: 250px;

$sidebar-nav-width: 350px;
$sidebar-nav-width-md: 250px;

$myraid: 'myriad-pro', sans-serif;
$auxindb: 'Auxindb', sans-serif;
$gothic: 'GothicBold', sans-serif;
$font-primary: $myraid;
$font-secondary: $gothic;

$block-cta-sm: 750px;