$blue-dark:      #1C8198;
$blue:           $blue-dark;
$blue-light:     #3CA6B4;
$gray-dark:      #60605D;
$gray-med-dark:  #6D6E71;
$gray-med:       #E4E4E3;
$gray-light:     #F2F1F1;
$red:            #e31c43;
$black:          #000000;
$white:          #ffffff;
$info:           #33b5e5;

$error: $red;

$dark:          #333333;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$max-row-width: 1000px;

$outer-gutter-sm: 1rem;
$outer-gutter: 2rem;

$roboto: 'Roboto', sans-serif;
$font-primary: $roboto;
$font-secondary: $roboto;